*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.fixed-width{
    width: 1200px;
    margin: auto;
}
/*header css*/

.header {
    background: #22c3a3;
}

.header-left {
    float: left;
    width: 30%;
    
}
.header-left h2 a{
font-size: 30px;
color: white;
text-decoration: none;
line-height: 80px;
}


.header-right {
 float: right;
 width: 70%;
}

.header-right ul {
    text-align: right;
    }
.header-right ul li {
    display: inline-block;
    position: relative;
    }
.header-right ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
    line-height: 80px;    
}

.header-right ul li a:hover{
    background-color: orange;
}
.header-right span{
    display: none;
}


/*banner*/

.banner{
    background-image: url("https://i.ibb.co/TPcBrgc/assfignmentj.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 250px 0;
}


.banner-text{
    text-align: center;
    color: white;
    line-height: 50px;
}
.banner-text h2{
    font-size: 40px;
}
.banner-text p{
    font-size: 20px;
}
.banner-text a{
    text-decoration: none;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.banner-text a::before{
    content: "";
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
     height: 100%;
    width: 0;
    transition: .5s;
    z-index: -1;

}
.banner-text a:hover::before{
    width: 100%;
}


/*container*/

.container{
    text-align: center;
    padding: 20px 0;

}

.ser-item{
    float: left;
    width: 25%;
    margin-top: 50px;
}

.ser-item span{
    font-size: 30px;
    color: #22c3a3;
}
.ser-item h3{
    font-size: 20px;
}
.ser-item p{
    margin-top: 5px;
}
/*about*/

#bor{
    border-top: 2px solid #0dbf9b;
    margin-top: 20px;
}
.about{
text-align: center;
padding: 50px 0;
padding: 20px 0;
}
.about h2{
    font-size: 40px;
}
.left-right{
    margin-top: 20px;
}

.about-left{
    float: left;
    text-align: left;
    width: 40%;
}
.about-left img{
    max-width: 100%;
    transition: 1s;
}
/* .about-left img:hover{
    transform: rotate(360deg) scale(1.5) ;
    
} */
.about-right{
    float: right;
    text-align: left;
    width: 60%;

}
.about-item{
    padding-left: 60px;
    margin-top: 30px;
}
/*contact*/
.contact{
    text-align: center;
    background-color: #f6f6f6;
    padding: 80px;
}
.con h2{
    font-size: 40px;
}
.con-item{
    display: inline-block;
    margin: 20px 70px;
}
   /*footer*/

.footer{
background-color: #0dbf9b;
text-align: center;
padding: 40px 0;


}
.footer ul li{
    display: inline-block;
    padding: 10px 15px;
    font-size: 30px;
}

.footer ul li:hover{
    background-color: red;
    transition: .5s;
}
.copy{
    background-color: black;
    text-align: center;
    padding: 20px 0;
}
.copy a{
    text-decoration: none;
    color: #373a3f;
    font-size: larger;

}
.copy a:hover{
    background-color: tomato;
    pointer-events: fill;
}