@media (max-width:1200px){
    .fixed-width{
        width: 1100px;
        margin: auto;
    }
    .about-left{
        float: left;
        text-align: left;
        width: 40%;
    }
    .about-left img{
        max-width: 100%;
        transition: 1s;
    }
    /* .about-left img:hover{
        transform: rotate(360deg) scale(1.5) ;
        
    } */
    .about-right{
        float: right;
        text-align: center;
        width: 60%;
    
    }
    .about-item{
        padding-right: 100px;
        margin-top: 30px;
    }

}

@media (max-width:1100px){
    .fixed-width{
        width: 980px;
        margin: auto;
    }

    .header-right ul li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 0 20px;
        font-size: 15px;
        line-height: 80px;    }
        .header-right ul li a:hover{
            background-color: orange;
        }
}

@media (max-width:992px){
    .header {
        padding: 0 10px;
       }
       

    .header-right ul li a {
        padding: 0 10px;
        }
    .fixed-width{
        width: auto;
        margin: auto;
    }

    .about-left img{
        max-width: 100%;
        position: relative;
        top: 30px;
        }
    .contact{
        text-align: center;
        background-color: #f6f6f6;
        padding: 80px 10px;
    }
}


@media (max-width:772px){
    .fixed-width{
        width: auto;
        margin: auto;
    }
    .header-left {
        float: inherit;
        width: 100%;
        text-align: center;
    }
    .header-right {
        float: inherit;
        width: 100%;
        text-align: center;
       }
    .header-right ul {
    text-align: center;
    }
    .about-left img {
    top: 140px;
    }
}

@media (max-width:680px){
    .ser-item {
        width: 50%;
    }
    .about-right {
        width: 100%;
    
    }
    .about-left {
        width: 100%;
    }

}

@media (max-width:546px) { 

    .header-right ul {
        text-align: center;
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
    .header-left {
        float: left;
        width: 100%;
        text-align: left;
    }
    
   .header-right span{
     font-weight:900;
     font-size: 40px;
     float: right;
     padding: 0 10px;
     position: relative;
     top: -55px;
     display: block;
     color: white;
    }
    

}

